In [2]:
# Upload data to MySQL

import pandas as pd
import mysql.connector

# Load data
df = pd.read_csv("../data/sales_data.csv")

# Ensure Date is in proper format
df['Date'] = pd.to_datetime(df['Date']).dt.date

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Codex@1234?",
    database="sales_analysis"
)

cursor = conn.cursor()

# Insert each row
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO sales_data (Date, Sales_Rep, Product, Items_Sold, Sales_Amount, Profit)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row.values))

# Commit and close
conn.commit()
cursor.close()
conn.close()

print("Data uploaded to MySQL successfully.")

Data uploaded to MySQL successfully.